
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

.container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.button-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.errors{
    color: red;
    text-align: center;
}

/* Timetable Table Styling */
.table-container {
    padding: 50px;
    overflow-x: auto;
    position: relative;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    font-size: 12pt;
    width: 150px; /* Set a fixed width for each cell */
    height: 60px; /* Set a fixed height for each cell */
    text-align: center; /* Center the text horizontally */
    vertical-align: middle; /* Center the text vertically */
    border: 1px solid #ddd; /* Adds a border to each cell */
    word-wrap: break-word; /* Ensures that long content wraps within the cell */
}

.table-container th {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.table-container td {
    color: #555;
}

/* Style the anchor link */
a {
    position: absolute;
    bottom: 0px; /* Position it below the table */
    left: 0; /* Align it to the bottom left */
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
    color: #b6b6b6;
}

